*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{
  --color: #fff;
}
main{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url(../imgs/bgg.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}
h1.caption{
  text-align: center;
  font-family: monospace;
  padding: 1em 0em 1.2em 0em;
  font-weight: bolder;
  color: var(--color,#fff);
  font-size: 2.6em;
}
header > div.searchHolder{
  text-align: center;
}
.searchInput{
  height: 3em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border: 1px solid var(--color,green);
  outline: none;
  padding-left: 0.8em;
  font-size: 0.9em;
}
.btnHolder{
  display: flex;
  justify-content: center;
}
input.btn{
  height: 2.1em;
  width: 8%;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  cursor: pointer;
  outline: none;
  border: inherit;
  color: var(--color,#fff);
  font-size: 1.3em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
section div.mainInfo{
  width: 50%;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  margin: 50px auto;
  border-radius: 10px;
  padding-bottom: 20px;
}
section > div > div.dayHolder{
  padding: 1em;
  text-align: center;
  color: var(--color,#fff);
}
address{
  font-size: 2em;
}
span.date{
  font-size: 1.3em;
  padding-top: 0.4em;
  display: block;
}
div.temp{
  color: var(--color,#fff);
  text-align: center;
  font-size: 2em;
}
div.weatherDesc{
  color: var(--color,#fff);
  text-align: center;
  font-size: 1.3em;
}
.curSummary{
  color: var(--color,#fff);
  margin-top: 1em;
}
table.currentTableSumm{
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5em;
  
}
tr.curDataRow{
  border-bottom: 0.1em solid var(--color,#fff);
  border-top: 0.1em solid var(--color,#fff);
}
th.todayRowSumm{
  padding: 0.8em 0em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td.curData{
  padding: 0.8em 0em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
th.todayRowSumm:nth-child(1),th.todayRowSumm:nth-child(2),th.todayRowSumm:nth-child(3),
td.curData:nth-child(1),td.curData:nth-child(2),td.curData:nth-child(3){
  border-right: 0.1em solid var(--color,#fff);
}


@media screen and (max-width: 450px) and (min-width: 200px){
  .searchInput{
    width: 60%;
    height: 3em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border: 1px solid var(--color,green);
    outline: none;
    padding-left: 0.8em;
    font-size: 0.9em;
  }
  .btnHolder{
    display: flex;
    justify-content: center;
  }
  input.btn{
    height: 2.15em;
    width: 30%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    cursor: pointer;
    outline: none;
    border: inherit;
    color: var(--color,#fff);
    font-size: 1.3em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  section div.mainInfo{
    overflow-x: scroll;
    width: 95%;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 800px) and (min-width: 451px){
  input.btn{
    height: 2.15em;
    width: 15%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    cursor: pointer;
    outline: none;
    border: inherit;
    color: var(--color,#fff);
    font-size: 1.3em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  section div.mainInfo{
    overflow-x: scroll;
    width: 95%;
    font-size: 1em;
  }
}